@import "tailwindcss";

/* --- A MÁGICA DO TEMA NO TAILWIND 4 --- */
/* Isso diz ao Tailwind: "Ative o dark mode quando a classe .dark estiver no HTML" */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Cores personalizadas */
  --color-primary: --color-violet-600;
  --color-primary-hover: --color-violet-700;
  --color-secondary: --color-white;
}

/* Suavidade global */
html {
  scroll-behavior: smooth;
}

/* Garante que o corpo ocupe a altura toda para mostrar a cor de fundo */
body {
  min-height: 100vh;
}